*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: white;
  --bg-url: url(./assets/assets/bg-mobile.jpg); 
  --strok-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.055);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
  
}

.light{
  --text-color:  black;
  --bg-url: url(./assets/assets/bg-mobile-light.jpg);
  --strok-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05 );
  --surface-color-hover: rgba(0, 0, 0, 0.05 );
  --highlight-color: rgba(0, 0, 0, 0.10);
  --switch-bg-url: url(./assets/sun-stars.svg);
}
body {
  background: var(--bg-url) no-repeat top center/cover;
  
}

body *{
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

header{
  background-color: var(--surface-color);
  color: var(--text-color);
  padding: 20px;
  backdrop-filter: blur(4px);
  position: relative;

}


header a {
  border: none;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);  
  margin-right: 100px;
}


.icon {
  font-size: 30px; 
}
.icon:hover {
  font-size: 30px; 
  background-color: var(--highlight-color);
  outline: 8px solid var(--highlight-color);
  border-radius: 50%;
}

@media (max-width: 600px) {
h1 {
  font-size: 24px; /* Tamanho reduzido para telas menores */
}
}

@media (max-width: 400px) {
h1 {
  font-size: 20px; /* Tamanho ainda menor para telas mais estreitas */
}
}
header #switch{
  position: absolute;
  width: 64px;
  top: 45%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);  
  margin-right: 20px;
  
}

#switch button{
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-back 0.2s;;
  
}

.light #switch button{
  animation: slide-in 0.2s forwards;

}

#switch button:hover{
  outline: 8px solid var(--highlight-color);
}

/*span é inline*/
#switch span{
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--strok-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}

@media (min-width: 700px){
  :root{
      --bg-url: url(./assets/assets/bg-desktop.jpg);
  }

  .light{
      --bg-url: url(./assets/assets/bg-desktop-light.jpg)
  }

}

/*animations*/
@keyframes slide-in {
  from{
      left: 0;
  }
  to{
      left: 50%;
  }
  
}
@keyframes slide-back {
  from{
      left: 50%;
  }
  to{
      left: 0;
  }
  
}

/*message*/
.message {
  text-align: center;
  margin-top: 240px;
  margin-bottom: 370px;

}

.message h1{
  font-size: 40px;
}

.name {
  color: rgb(188, 6, 188);
  font-size: 40px;
}





/*about-me*/

.about-me{
  text-align: center;
  background-color: var(--surface-color);
  padding: 70px;
  
}
.about-me p{
  margin-top: 30px;
  
}



/*skills*/
.containerr {
  display: flex;
}

.skills,
.skills-back {
  flex: 1;
  margin: 0;
  position: relative;
}

.skills::after,
.skills-back::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: var(--highlight-color);
}

.skills-back h1{
  text-align: center;
  margin-top: 40px;
}


.skills h1{
  text-align: center;
  margin-top: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows:180px 60px;
  justify-content: stretch;
  margin-left: 10px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;

  }

  .item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .item img {
      margin-top: 50px;
    }

    .item p {
      margin-top: 10px;
      margin-bottom: 100px;      }

@media (max-width: 600px) {
  .containerr {
    flex-direction: column;
    margin-right: 10px;
  }

  .skills-back {
    margin-top: 20px; /* Adicione um espaçamento superior para separar os elementos */
  }
  .skills::after,
  .skills-back::after{
    display: none;
  }
}

.projects{
  text-align: center;
  margin-top: 100px;
  
}



/*Carousel*/
.carousel {
  display: flex;
  align-items: center;
  margin-top: 30px;
  
}

.carousel-button {
  background-color: var(--surface-color);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.carousel-panel {
  background-color: var(--surface-color);
  border-radius: 10px;
  flex: 1;
  display: none;
  text-align: center;
  margin-bottom: 70px;
}
.carousel-panel h2{
  margin-top: 15px;
  margin-bottom: 10px;
}
.carousel-panel p{
  margin-bottom: 20px;
  margin-top: 10px;
}
.carousel-panel p button {
  margin: auto;
  padding: 10px 20px;
  background: var(--highlight-color) no-repeat center;
  border: 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  outline: none;
}
.carousel-panel p button a{
  text-decoration: none;
}
.carousel-panel p button:hover{
  outline: 8px solid var(--highlight-color);
}

.carousel-panel button:hover {
  text-decoration: none;
  outline: 8px solid var(--highlight-color);
}

.carousel-panel.active {
  display: block;
}

.carousel-button.next{
  margin-bottom: 40px;
}

.carousel-button.next:hover{
  margin-bottom: 40px;
  outline: 8px solid var(--highlight-color);
}
.carousel-button.prev:hover{
  outline: 8px solid var(--highlight-color);
}



@media (max-width: 600px) {
  .carousel {
    flex-direction: column;
    
  }

  .carousel-button {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    font-size: 18px;
  }

  .carousel-panel {
    margin-bottom: 30px;
  }

.carousel-panel.active {
  max-width: 90%;
  width: 300px;
  margin-top: 30px;
}}

.image-container {
  font-size: 0; /* Removendo espaçamento entre os elementos inline-block */
}

.itemm {
  display: inline-block;
  vertical-align: top; /* Alinhando as divs ao topo */
  text-align: center; /* Centralizando o conteúdo horizontalmente */
  margin-right: 10px; /* Espaçamento entre as imagens */
}

.itemm:last-child {
  margin-right: 0; 
}

.itemm img {
  margin: 10px; 
}

.button-container {
  text-align: center; /* Centralizar os botões horizontalmente */
  margin-bottom: 20px;
  
  
}

.button-container button {
  display: inline-block; /* Alinhar os botões um ao lado do outro */
  margin: 5px; /* Espaçamento entre os botões */
  border: none; /* Remover a borda padrão dos botões */
  background-color: var(--highlight-color); /* Cor de fundo dos botões */
  padding: 10px 20px; /* Espaçamento interno dos botões */
  border-radius: 5px;
  
}

.button-container button a {
  text-decoration: none; /* Remover sublinhado dos links */
  color: var(--text-color);
}

.button-container button:hover{
  outline: 8px solid var(--highlight-color);
}


/*formulario*/

.formularioContato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formularioContato h1 {
  margin-bottom: 30px;
}

.formularioContato input {
  background-color: transparent;
  border: solid 1px var(--strok-color);
  border-radius: 4px;
  padding: 20px 100px;
  margin-bottom: 20px;
}

.formularioContato textarea {
  background-color: transparent;
  border: solid 1px var(--strok-color);
  border-radius: 4px;
  padding: 30px 40px; /* Ajuste o padding vertical */
}

.formularioContato input::placeholder,
.formularioContato textarea::placeholder {
  color: var(--strok-color);
  text-align: center; /* Centralize o texto do placeholder */
  margin: 4px; /* Adicione a margem de 4px */
}


.botao-enviar {
  background-color: var(--highlight-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 20px;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.botao-enviar:hover {
  outline: 8px solid var(--highlight-color);

}

footer{
  background-color: var(--highlight-color);
  height: 150px;
}

footer .contentt{
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
  color: var(--text-color);
}

